 body {
      background: #3e5261;
        color: #d4d8dc;
        font: Verdana, sans-serif;
      }
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
      }

      li a {
        float: left;
        display: block;
        color: #d4d8dc;
        font-family: 'Verdana', sans-serif;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }

    li a:hover {
      background-color: #111;
    }
